{
  "swagger": "2.0",
  "info": {
    "description": "This is the documentation for our simple awesom rest api built with node js, typescript, docker, mongoose, pm2 and webpack. Also with fetch flickr public api",
    "version": "1.0.0",
    "title": "Awesome API",
    "contact": {
      "email": "ahmedkhalilbejaoui@gmail.com"
    },
    "license": {
      "name": "MIT"
    }
  },
  "host": "develop.challenge.com",
  "basePath": "/api/v1",
	"consumes": [
		"application/json"
	],

	"paths": {
		"/user": {
			"post": {
				"operationId": "RegisterUser",
				"produces": [
					"application/json"
				],
				"responses": {
					"200": {
						"description": "Ok",
						"schema": {
							"type": "object"
						}
					},
					"Unexpected error": {
						"description": "",
						"schema": {
							"$ref": "#/definitions/HttpResponseInterface"
						}
					}
				},
				"tags": [
					"UserController"
				],
				"security": [],
				"parameters": [
					{
						"in": "body",
						"name": "user",
						"required": true,
						"schema": {
							"$ref": "#/definitions/UserInterface"
						}
					}
				]
			}
		}
	},
	"produces": [
		"application/json"
	],
  "securityDefinitions": {
    "awesomeapi_auth": {
      "type": "apiKey",
      "name": "token",
      "in": "header"
    },
    "api_key": {
      "type": "apiKey",
      "name": "api_key",
      "in": "header"
    }
  },
  "definitions": {
    "HttpResponseInterface": {
			"properties": {
				"headers": {
					"type": "object"
				},
				"statusCode": {
					"type": "number",
					"format": "double"
				},
				"data": {
					"type": "object"
				},
				"error": {
					"type": "string",
					"x-nullable": true
				}
			},
			"required": [
				"headers",
				"statusCode",
				"data"
			],
			"type": "object"
		},
    "UserInterface": {
			"properties": {
				"firstName": {
					"type": "string"
				},
				"lastName": {
					"type": "string"
				},
				"email": {
					"type": "string"
				},
				"userName": {
					"type": "string"
				},
				"password": {
					"type": "string"
				}
			},
			"required": [
				"firstName",
				"lastName",
				"email",
				"userName",
				"password"
			],
			"type": "object"
		},
    "flickr": {
      "type": "object",
      "properties": {
        "title": {
          "type": "string"
        },
        "link": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "modified": {
          "type": "string"
        },
        "items": {
          "type": "object"
        }
      }
    },
    "ApiResponse": {
      "type": "object",
      "properties": {
        "statusCode": {
          "type": "integer",
          "format": "int32"
        },
        "errors": {
          "type": "object"
        },
        "data": {
          "type": "object"
        }
      }
    }
  }
}